doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Circle SVG Animation
		link(rel="stylesheet", href="css/main.css")
	body
		.wrapper
			.circle-box(data-percent="58" data-time="2000")
			.circle-box(data-percent="72" data-time="3000")
			.circle-box(data-percent="100" data-time="2000")
			a.a-git(href="https://github.com/crealime/circle_animation")
				.a-git__bg
				.a-git__text Circle SVG Animation on GitHub
		script(src="js/jquery.min.js")
		script(src="js/main.js")

