doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Circle SVG Animation
		link(rel="stylesheet", href="css/main.css")
	body
		.wrapper
			.circle-box(data-percent="58" data-time="1500")
			.circle-box(data-percent="72" data-time="3000")
			.circle-box(data-percent="100" data-time="1500")
		script(src="js/jquery.min.js")
		script(src="js/main.js")

