@import url(../fonts/opensans/opensans.css);

body {
	font-family: "Open Sans", sans-serif;
	overflow: hidden;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.a-git {
	display: block;
	position: absolute;
	bottom: 20px;
	opacity: .7;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	text-decoration: none;
	color: #000;
}

.a-git:hover {
	opacity: 1;
}

.a-git__bg {
	width: 16px;
	height: 16px;
	background-image: url(../img/github.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

.a-git__text {
	font-size: 0.75rem;
	display: inline-block;
	margin: 0 0 0 5px;
}

/* Size of elements */

.circle-box {
	width: 220px;
	height: 220px;
	position: relative;
	text-align: center;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.circle-box svg {
	width: 100%;
}

/* Style of percent text */

.percent {
	width: 100%;
	position: absolute;
	top: 80px;
	font-weight: 800;
	font-size: 50px;
	color: #00a99d;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Style of svg circles */

.circle__a {
	fill: none;
	stroke: #00a99d;
	stroke-width: 20px;
}

.circle__b {
	stroke: #999;
	fill: none;
}

